authserver/auth.wsdl

<?xml version='1.0' encoding='UTF-8' ?>
<definitions name='Auth'
  targetNamespace='urn:AdvocaiteAuthserver'
  xmlns:tns='urn:AdvocaiteAuthserver'
  xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
  xmlns:xsd='http://www.w3.org/2001/XMLSchema'
  xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/'
  xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
  xmlns='http://schemas.xmlsoap.org/wsdl/'>

<message name='update_statusRequest'>
  <part name='upc' type='xsd:string'/>
  <part name='upd' type='xsd:string'/>
</message>
<message name='update_statusResponse'>
  <part name='Result' type='xsd:string'/>
</message>
<message name='getProfileRequest'>
  <part name='upc' type='xsd:string'/>
  <part name='upd' type='xsd:string'/>
</message>
<message name='getProfileResponse'>
  <part name='Result' type='xsd:string'/>
</message>
<message name='loginRequest'>
  <part name='upc' type='xsd:string'/>
  <part name='upd' type='xsd:string'/>
</message>
<message name='loginResponse'>
  <part name='Result' type='xsd:string'/>
</message>

<portType name='AuthPortType'>
  <operation name='update_status'>
    <input message='tns:update_statusRequest'/>
    <output message='tns:update_statusResponse'/>
  </operation>
 <operation name='getProfile'>
    <input message='tns:getProfileRequest'/>
    <output message='tns:getProfileResponse'/>
  </operation>
 <operation name='login'>
    <input message='tns:loginRequest'/>
    <output message='tns:loginResponse'/>
  </operation>
</portType>

<binding name='AuthBinding' type='tns:AuthPortType'>
  <soap:binding style='rpc'
    transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='update_status'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#update_status'/>
    <input>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </output>
  </operation>
  <operation name='getProfile'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#getProfile'/>
    <input>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </output>
  </operation>
  <operation name='login'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#login'/>
    <input>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </output>
  </operation>
</binding>

<service name='AuthService'>
  <port name='AuthPort' binding='AuthBinding'>
    <soap:address location='http://auth.yourdomain.com/soap/server.php'/>
  </port>
</service>
</definitions>